<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <!-- Add this link in the <head> section of your HTML -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-tbpIQiVFLtEBnvpS4X3mYuVvBd0NnAwflWwNqgiKjORf5z5o++3R3vmw79ZuqdshrcQnti+OUAM5xGsnHwPMJw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Permalist</title>
</head>

<body>
  
